* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
} 
body {
    background-color: rgb(1, 12, 61);
    color: rgb(218, 218, 218);
    overflow-x: hidden;
}
body nav .nav-item-p {
    padding: 20px;
    border-bottom: .5px solid rgb(17, 17, 63);
}
body nav .nav-item-p:nth-child(1) {
    padding: 0px;
}
body nav .nav-item-p:nth-child(2) {
    padding: 0px;
}

header {
    background-color: rgb(4, 0, 39);
}
.container-header-movil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
header .container-header-movil h3 {
    color:rgb(255, 255, 255);
}
.flex-menu-movil-item-p, .flex-menu-movil-item-p-2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav .container-info-menu {
    width: 85%;
    position: absolute;
    right: -100%;
    background-color: rgb(5, 0, 51);
    color: rgb(184, 184, 184);
    font-size: 16px;
    letter-spacing: 1.5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.25s ease-in;
    display: grid;
    margin-top: 10px;
}
.fa-search {
    padding-right: 15px;
}
nav .container-info-menu-activo {
    right: 0%;
}
.container-login {
    display: flex;
}
.nav-item-p-login {
    padding: 20px 0px;
    border-top: .5px solid rgb(17, 17, 63);
    width: 50%;
    text-align: center;
}
.nav-item-p-login:nth-child(1) {
    background-color: rgb(0, 162, 255);
    color: black;
    border-bottom-left-radius: 10px;
}

.sub-cursos-menu-movil div {
    padding: 18px 40px;
    background-color: rgb(4, 0, 39);
    border: .5px solid rgb(17, 17, 63);
}
.sub-cursos-menu-movil, .sub-cursos-menu-movil-2-bootcamp  {
    display: none;
}
.sub-cursos-movil-activo {
    display: block;
}
.sub-cursos-menu-movil-2-bootcamp div {
    padding: 18px 40px;
    background-color: rgb(4, 0, 39);
    border: .5px solid rgb(17, 17, 63);
}
.container-menu-movil {
    display: flex;
    align-items: center;
}

/* IS */
.login-is-p {
    position: absolute;
    width: 100%;
    bottom: 0%;
}
.login-is-contenedor {
    background-color: rgb(4, 0, 39);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.mar-is-contenedor div {
    margin: 0 20px;
}
.mar-is-contenedor .close-title-is-p {
    padding-top: 25px;
}
.wrap-is-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(17, 17, 63);
}
.login-is-contenedor div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 14px;
}
.span-container-align-is {
    display: flex;
    align-items: center;
}
.login-is-contenedor form {
    padding-bottom: 20px;
    margin: 0 20px;
    margin-right: 40px;
}
.login-is-contenedor form div label {
    display: block;
    margin: 10px 0;
    font-size: 13px;
}
.login-is-contenedor .wrap-is-cont button {
    background-color: rgb(5, 0, 51);
    color: rgb(184, 184, 184);
    border: .5px solid rgb(14, 6, 80);
    border-radius: 5px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    padding: 7px 0;
    cursor: pointer;
}
.login-is-contenedor .wrap-is-cont button:hover {
    background-color: rgb(10, 4, 65);
}
.login-is-contenedor .wrap-is-cont button svg {
    margin-right: 5px;
}
.login-is-contenedor form div {
    margin: 20px 0;
}
.login-is-contenedor form div input {
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(5, 0, 51);
    border-radius: 8px;
    border: 1px solid rgb(17, 17, 63);
    color: rgb(184, 184, 184);
}
.login-is-contenedor form div input:focus {
    outline: none;
    background-color: rgb(10, 4, 65);
}

